.main__game-panel{
    width: 100vw;
    height: 90vh;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("../images/wall.png");
}

.game__board-row-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.game__board-square{
    width: 12rem;
    height: 12rem;
    background-color: #743aa9;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.game__board-focus{
    background-color: currentColor;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 1px solid #ff0000;
}
.game__board-focus.ralph-char{
    background-image: url("../images/char/ralph.png");
}

.game__board-focus.billie-char, .game__board-focus.charlie-char, .game__board-focus.icarlee-char
.game__board-focus.ever-dream, .game__board-focus.hehe-boy, .game__board-focus.okay-meme, .game__board-focus.risitas, 
.game__board-focus.what-wtf, .game__board-focus.why-running, .game__board-focus.why-running-1{
    background-size: contain;
    background-color: black;
}

.why-running-1{
    background-image: url("../images/char/why-running-1.svg");
}

.why-running{
    background-image: url("../images/char/why-running.svg");
}

.what-wtf{
    background-image: url("../images/char/what-wtf.svg");
}

.risitas{
    background-image: url("../images/char/risitas.svg");
}

.okay-meme{
    background-image: url("../images/char/okay-meme.svg");
}

.hehe-boy{
    background-image: url("../images/char/hehe-boy.svg");
}

.game__board-focus.billie-char{
    background-image: url("../images/char/billie-heee.svg");
}

.ever-dream{
    background-image: url("../images/char/ever-dream.svg");
}

.game__board-focus.charlie-char{
    background-image: url("../images/char/charlie-sheehee.svg");
}

.game__board-focus.icarlee-char{
    background-image: url("../images/char/icarlee-heee.svg");
}


.top__lives{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.lives__live-img{
    width: 4rem;
}

.planel__game-board{
    width: 100%;
}

.timer__time-h3, .top__score-h3{
    padding-bottom: 1.3rem;
}

.score-manage{
    font-size: 1rem;
    animation: scoreHandler 0.6s ease-in-out;
    opacity: 0;
}

.score-add{
    color: #03aa24;
}

.score-minus{
    color: #ff0000;
}

.game__board-square:hover {
  cursor: url("../images/SVGRepo_iconCarrier.svg"), auto;
}

.game__board-row-wrapper:hover {
  cursor: url("../images/SVGRepo_iconCarrier.svg"), auto;
}

.planel__game-board:hover {
  cursor: url("../images/SVGRepo_iconCarrier.svg"), auto;
}

.game__board-square.game__board-focus:hover{
    cursor: url("../images/SVGRepo_iconCarrier.svg"), auto;
}

@keyframes cursorMove {
    100%{
        cursor: url("../images/cursor-hit.svg"), auto;
    }
}


@keyframes scoreHandler {
    100%{
        opacity: 1;
        transform: translateY(-2rem);
    }
}


@media screen and (max-width:590px) {
    .main__game-panel {
        align-items: flex-start;
    }
    .game__board-row {
        width: 9rem;
        height: 9rem;
    }
    .game__board-square{
        height: 10rem;
    }
}